<?xml version="1.0"?>
<config>
    <modules>
        <Creovector_Testimonials>
            <version>0.1.0</version>
        </Creovector_Testimonials>
    </modules>
    <frontend>
        <layout>
            <updates>
                <wbxtest>
                    <file>wbxtest.xml</file>
                </wbxtest>
            </updates>
        </layout>

    </frontend>
    <global>
                    <events>
            <page_block_html_topmenu_gethtml_before>
                <observers>
                    <wbxtest>
                        <class>wbxtest/observer</class>
                        <method>addToTopmenu</method>
                    </wbxtest>
                </observers>
            </page_block_html_topmenu_gethtml_before>
        </events>
        <helpers>
            <wbxtest>
                <class>Creovector_Testimonials_Helper</class>
            </wbxtest>
        </helpers>
        <blocks>
            <wbxtest>
                <class>Creovector_Testimonials_Block</class>
            </wbxtest>
        </blocks>
        <models>
            <wbxtest>
                <class>Creovector_Testimonials_Model</class>
                <resourceModel>wbxtest_mysql4</resourceModel>
            </wbxtest>
            <wbxtest_mysql4>
                <class>Creovector_Testimonials_Model_Mysql4</class>
                <entities>    
                    <wbxtest>
                        <table>wbxtest</table>
                    </wbxtest>
                </entities>
            </wbxtest_mysql4>
        </models>
        <resources>
            <wbxtest_setup>
                <setup>
                    <module>Creovector_Testimonials</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </wbxtest_setup>
            <wbxtest_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </wbxtest_write>
            <wbxtest_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </wbxtest_read>
        </resources>
    
    </global>
    <admin>
        <routers>
            <wbxtest>
                <use>admin</use>
                <args>
                    <module>Creovector_Testimonials</module>
                    <frontName>wbxtest</frontName>
                </args>
            </wbxtest>
        </routers>
    </admin>
    <adminhtml>
        <menu>               
            <wbxtest module="wbxtest">
                <title>Testimonials</title>
                <sort_order>129</sort_order>
                <children>
                    <wbxtest_wbxtest module="wbxtest">
                        <title>Testimonials</title>
                        <sort_order>0</sort_order>
                        <action>wbxtest_admin/adminhtml_testinomials</action>
                    </wbxtest_wbxtest>
                </children>
            </wbxtest>
        </menu>
    </adminhtml>
</config> 